{% schema %}
{
  "name": "EasyCookieBar",
  "target": "section",
  "settings": []
}
{% endschema %}

<div id="cookieconsent-wrapper" data-shop="{{ shop.permanent_domain }}"></div>
{{ 'cookie-consent.js' | asset_url | script_tag }}
